
:root{
  --theme1:#CB6164;
  --theme2:#454E6B;
  --theme3:#F4D070;
  --theme4:#e0f9f9;
  --theme5:#5296F4;
  --theme6: #fff;
  
}


/*/// font ///*/
 @font-face {
   font-family: showcard_Gothic;
   src: url("./assets/fonts/SHOWG.TTF");
 }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* //////////////////////////////////////////////////////////// css start ////////////////////////////////////////////////////////////////////////////*/

.theme-logo-p1{
  color: var(--theme1);
}
.theme-logo-p2{
  color: var(--theme2);
}
.theme-modal-bg{
  background-color: var(--theme2);
}
.theme-bg-btn{
  background-color: var(--theme3);
}
.theme-bg{
  background-color: var(--theme4);
}
.theme-skyblue{
  background-color: var(--theme5);
}
.theme-white{
  color: var(--theme6);
}